<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="default" connectionString="Data Source=地址;port=端口;user id=用户名;password=密码;Initial Catalog=TestProduct" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <!--RedisServer地址-->
    <add key="RedisProduct" value="Server=10.99.20.63;Password=litsoft-1234;Port=7001;DB=5;Poolsize=3;ConnectTimeout=180;" />
    <!--RedisServer地址-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>